/* HEADER */

.container {
    border: 1px solid #FFEBCD;
}

header {
    background-color: #FFEBCD;
}

header a {
    color: #000080;
    font-family: 'Bungee', cursive;
    text-decoration: none;
}

header i {
    color: #000080;
    }

.right-links {
    font-size: 0.8em;
    margin: 7px;
    padding: 7px;
}

.right-links:hover {
    background-color: #000080;
    color: #ffff;
    border-radius: 15px;
    transition: 0.5s ease-out;
}

.grouped-right-links {
    padding-top: 2%;
}

.left-link {
    padding-left: 10%;
}

.left-link:hover {
    color: #9fcd39;
    transition: 0.5s ease-out;
}

/* SECTION */

section {
    padding-top: 20px;
}

section h1 {
    color: #228B22;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3em;
    text-align: center;
}

/* NAV */

nav {
    padding-top: 25px;
}

nav h1 {
    color: #000080;
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

nav p {
    font-family: 'Varela', sans-serif;
}

button {
    background-color: #FFEBCD;
    border: none;
    border-radius: 5px;
    color: #000080;
    cursor: pointer;
    font-family: 'Varela', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

button:hover {
    background-color: #000080;
    color: #ffff;
    transition: 0.5s ease-out;
}

/* MAIN */

main {
    padding: 20px;
}

main h3 {
    color: #228B22;
    font-family: 'Varela Round', sans-serif;
}

main p {
    font-family: 'Varela', sans-serif;
}

main img {
    width: 100%;
}

.card {
    border: 1px solid #FFEBCD;
    margin: 15px 0;
}

/* FOOTER */

footer {
    background-color: #FFEBCD;
    padding: 20px;
}

footer p {
    font-family: 'Varela Round', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

/* MENU ANIMADO */

#animated-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFEBCD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20%;
}

#animated-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    font-size: 1em;
    color: #000080;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

#animated-menu a:hover {
    color: #ffff;
    background-color: #000080;
    transition: 0.5s ease-out;
}

#animated-menu #close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 25%;
}

#animated-menu #close-menu:hover {
    color: #ffff;
}
